<style>
    .prueba {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
    }
</style>

<div class="prueba">
    <a href="#" class="btn btn-outline-secondary" role="button" title="Pulsa para descubrir tu regalo">Recibir regalo</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" class="btn btn-outline-secondary " role="button" title="pulsa para regalar">Hacer regalo</a>
</div>


