@model DataAccess.Gift

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row ml-3 mt-2">
    <div>
        <a href="@Url.Action("Create", "Gift")" title="Nuevo regalo"><i class="fa fa-plus-circle fa-5x" style="color: #F6A769"></i></a>
    </div>
</div>
<div class="row justify-content-around ml-3 mt-5">
    <div class="card" style="width: 18rem;">
        <h5 class="card-title" style="text-align:center">Regalos hechos</h5>
        <a href="#"><img src="~/Fonts/Images/regalo_hecho.jpg" class="card-img-top" alt="..."></a>
    </div>
    <div class="card" style="width: 18rem;">
        <h5 class="card-title" style="text-align:center">Regalos recibidos</h5>
        <a href="#"><img src="~/Fonts/Images/regalo_recibido2.jpg" class="card-img-top" alt="..."></a>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var type ='@ViewBag.NType';
        var message = '@ViewBag.NMessage';
        var title = '@ViewBag.NTitle';
        console.log("type: "+type+" message: "+message);
        if (type !== null && type!=="" && message !== null && message!=="" && title!==null && title!=="") {
            toastr.success(message, title, { "iconClass": type });
        }
    });

</script>